<?php

# phpMyAdmin Settings
# This should be set to a random string of at least 32 chars
$cfg["blowfish_secret"] = "{{ pma.blowfish }}}";

$i=0;
$i++;

$cfg["Servers"][$i]["auth_type"] = "cookie";
$cfg["Servers"][$i]["AllowNoPassword"] = false;
$cfg["Servers"][$i]["AllowRoot"] = true;
$cfg["TempDir"] = "/tmp";

?>